export GPG_TTY=$(tty)

export NVM_DIR="$HOME/.nvm"

export PHP_INI_SCAN_DIR="/Users/jewei/Library/Application Support/Herd/config/php/":$PHP_INI_SCAN_DIR

export HERD_PHP_82_INI_SCAN_DIR="/Users/jewei/Library/Application Support/Herd/config/php/82/"
